.menuLink {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 1rem;
  cursor: pointer;

  .menuLinkText {
    margin-left: 1rem;
    margin-right: 5px;
    font-size: 1.6rem;
  }

  .menuLinkTextName {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  &:hover {
    background-color: #011631;
    color: white;
  }
}

@media only screen and (max-width: 992px) {
  .menuLink {
    display: block;

    .menuLinkText {
      display: none;
    }

    .menuLinkTextName {
      display: none;
    }

    &:hover {
      display: block;
      background-color: #011631;
      color: white;
    }
  }
}
