.profileRightbarInfoItem {
  margin-bottom: 1rem;
  font-size: 1.6rem;

  .profileRightbarInfoKey {
    font-weight: 500;
    margin-right: 2rem;
  }

  .profileRightbarInfoValue {
    font-weight: 300;
  }
}
